

/* Footer */

footer {
    margin-top: 300px;
    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: var(--color-footer-color-0);
}

.copyright {
    font-size: 10px;
    font-weight: bold;
    text-align: end;
    padding-top: 30px;
    color: var(--color-text-color-2);
}

#footer-content {
    display: flex;
}

.logo-long {
    margin: 30px;
    left: 20px;
    display: flex;
    flex-flow: column;
}

.logo-long img {
    width: 300px;
}

.footer-nav {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.footer-nav-a {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 5px;
    color: var(--color-evend-color);
    font-weight: bolder;
    text-decoration: none;
}

.footer-nav-a:hover {
    color: var(--color-text-color-2);
}

#footer-right {
    right: 0;
    margin: 20px;
    position: absolute;
    display: flex;
}

.footer-icon {
    padding: 10px;
}

.footer-icon img {
    width: 28px;
}

.icon-a {
    filter: invert(100%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.icon-a:hover {
    filter: invert(40%);
}

#footer-nav-bottom {
    padding: 25px;
    background-color: var(--color-footer-color-1);
    padding-left: 130px;
    padding-right: 130px;
}

.footer-nav-bottom-in {
    display: flex;
    margin-top: 0px;
    padding-top: 70px;

    animation: test 1s;
}


.footer-nav-bottom-a {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    left: 0;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    font-size: 12px;
    color: var(--color-text-color-2);
}

.footer-nav-bottom-in div {
    margin: 7px;
    flex-flow: column-reverse;
}

.footer-nav-bottom-a-media {
    left: 0;
    text-decoration: none;
    font-weight: bold;
    
    font-size: 20px;
    color: var(--color-text-color-2);
}

.footer-nav-bottom-a:hover {
    color: var(--color-blue-color-0);
}

/* content - main */

#box-index-1 {
    background-image: url("https://i.ibb.co/kqd2jdy/555933-93c25aa8-ad21-49c7-b04e-e401709265e2.webp");
    background-position: center;
    background-size: cover;
    -webkit-transition: 1.5s;
    transition: 1.5s;
    padding: 200px;
}

.logo-box-1 {
    text-align: center;
    padding: 100px;
}

.logo-box-1 img  {
    width: 500px;
}

.content-header-bottom {
   display: flex;
   justify-content: center;
}

.bottom-header-a {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 20px;
    color: white;
    padding: 10px;
    background-color: var(--color-blue-color-0);
    font-weight: bold;
    margin: 20px;;
    text-decoration: none;
}

.bottom-header-a:hover {
    background-color: var(--color-blue-color-1);
    padding: 15px;
}

.index-title-2 {
    font-size: 60px;
    color: var(--color-text-color-0);
    font-weight: bold;
    text-align: center;
    margin: 50px;
}

#box-index-2 {
    display: none;
}

.content-down {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1300px;
}

.icon-text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px;
    font-size: 20px;
}

.icon-text-2-a {
    color: rgb(160, 160, 160);
    -webkit-transition: 1s;
    transition: 1s;
    text-decoration: none;
}


.icon-text-2-a:hover {
    color: var(--color-blue-color-0);
    text-decoration: underline;
}

.icon-text span {
    font-size: 70px;
    font-weight: bold;
} 


.more-buttom {
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: flex;
  padding: 20px;
  background-color: var(--color-blue-color-0);
  text-decoration: none;
}


/* media */