/*!
* Projekt Media v0.1.3
* Copyright: Developer Web
*/

::selection {
    color: white;
    background-color: #00aeffbb;
}

/* ###### Media Display ###### */

/* ------- Size view -------
* (max-width: 200px)
* (max-width: 300px)
* (max-width: 400px)
* (max-width: 500px)
* (max-width: 600px)
* (max-width: 700px)
* (max-width: 800px)
* (max-width: 900px)
* (max-width: 1000px)
*/

/*--> (max-width: 200px) */
@media screen and (max-width: 200px) {}

/*--> (max-width: 300px) */
@media screen and (max-width: 300px) {}

/*--> (max-width: 400px) */
@media screen and (max-width: 400px) {}

/*--> (max-width: 500px) */
/*--> (max-width: 600px) */
@media screen and (max-width: 600px) {}

/*--> (max-width: 700px) */
@media screen and (max-width: 700px) {
}

/*--> (max-width: 800px) */
@media screen and (max-width: 919px) {
    .content-in-window, .content-in-window-2 {
        width: 300px;
    }

    .text-2-p {
        width: 300px;
    }


    #text-1 {
    font-size: 50px;
    width: 100%;
}

.ub-content img {
    width: 200px;
}     

.logo-background img {
    margin-top: 500px;
    width: 300px;
}

.info-bg {
    font-size: 16px;
}

.info-bg-span {
    padding-right: 10px;
    display: flex;
    flex-flow: column;
}

.info-bg-span-decoration {
    font-size: 13px;
    text-align: center;
 }

 .button-downloud {
    margin-top: 60px;
}

.fullbright-pack img {
    width: 50px;
    height: 50px;
}

.title-pack {
    padding-top: 0px;
    font-size: 30px;
}

#button-a-0 {
    padding: 15px;
}

.download-icon-4 img {
    width: 50px;
    transform: translate3d( -66px, 0px, 0px);
    position: absolute;
}


.text-7 {
    font-size: 20px;
    width: 300px;
    transform: translate3d( 32px, 18px, 0px);
    padding-bottom: 200px;
}

}

/*--> (max-width: 900px) */
@media screen and (max-width: 900px) {

    .footer-nav-bottom-a {
      font-size: 20px;
      line-height: 30px;
    }
}

/*--> (max-width: 1000px) */
@media screen and (max-width: 500px) {
    .media-box-img-1 {
        padding: 2px;
         }
}

/* --- Extras ---*/
@media screen and (max-width: 616px) {
    #background-content {
        padding: 100px;
        padding-top: 450px;
        max-width: 800%;
        background-size: auto;
        margin-left: 0%;
     } 

     .text-decoration {
         margin-top: 40%;
     }
     
}


@media screen and (max-width: 1740px) {
    
    #box-img-3 {
        position: absolute;
        background-image: url('https://i.ibb.co/Sx3ghDC/apple-iphone13pro-sierrablue-landscape-media.webp');
        padding: 200px;
        width: 130px;
        height: 70px;
        justify-content: center;
        margin-right: 0;
        right: 0;
    }

    .box-bar-content-4 {
        justify-content: space-between;
    }
}

@media screen and (max-width: 1600px) {
    .person {
        transform: translate3d(-340px, -41px, 0px);
    }


}


@media screen and (max-width: 1766px) {
    .box-text-2 {
        max-width: 1558px;
    }
}


@media screen and (max-width: 1260px) {
     
    .box-text {
        margin: 10px;
    }

    /*.box-text-div-4 {
        width: 364px;
    } */

    
}

@media screen and (max-width: 1887px) {
    #box-img-2 {
    right: 45px;
    }

    .box-text-2 {
        width: 1060px;
    }
}

/* --- media start --------------------------------------------------------- */
@media screen and (max-width: 1111px) {
    #main-media {
        display: block;
    }
    

    .box-img-1 {
        display: none;
    }

    .box-text {
        margin: 0px;
        color: var(--color-text-color-2);
        /* width: 100%; */
        line-height: 30px;
        filter: brightness(0%);
        display: block;
    }

    .box-bar-content {
        display: block;
        justify-content: none;
    }

    .start-logo-img img {
        width: 250px;
    }

    #main-desktop {
        display: none;
    }

    .footer-nav, #footer-right {
        display: none;
    }
    .copyright {
        padding-right: 10px;
    }

    #meun-desktop {
        display: none;
    }

    #footer-nav-bottom {
        padding-left: 0px;
        padding-right: 0px;
        text-align: start;
    }


    .title-view {
        font-size: 15px;
        margin: 10px;
        padding: 15px;
    }

    .title-view:hover {
        color: var(--color-fb-white);
        border-radius: 25px;
        text-decoration: none;
        background-color: var(--color-blue-color-0);
        font-size: 20px;
    }

    .box-view {
        margin: 50px;
    }

    .media-box-1 img {
        margin-top: 100px;
        width: 300px;
    }

    .container {
        font-size: 10px;
    }

    .footer-nav-bottom-in {
        display: flex;
        flex-flow: column;
        text-align: start;
        /* width: 137px; */
    }

    .icon-text {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 50px;
        font-size: 10px;
    }

    .icon-text-2-a span {
        font-family: 10px;
    }

    #box-index-1 {
        background-position: center;
        background-size: cover;
        -webkit-transition: 1.5s;
        transition: 1.5s;
        padding: 100px;
    }

    .bottom-header-a-media {
        -webkit-transition: 0.5s;
        transition: 0.5s;
        font-size: 15px;
        color: white;
        padding: 10px;
        background-color: var(--color-blue-color-0);
        font-weight: bold;
        margin-top: 10px;
        text-decoration: none;
        display: flex;
    }
    
    .bottom-header-a-media:hover {
        background-color: var(--color-blue-color-1);
        padding: 10px;
    }

    #body {
        background-size: auto;
    }

    .header-background {
        padding: 100px;
    }

    .icons-sup {
        flex-flow: column;
    }

    #cover-logo-img {
        width: 300px;
        text-align: center;
        display: flex;
    }

    .cover-text-1 {
        font-size: 15px;
    }

    /* Banner */

    #banner-content {
        position: fixed;
        flex-flow: column;
        justify-content: center;
        width: 100%;
        bottom: 0;
        padding: 2px;
        background-color: var(--color-background-color);
    }
    
    #banner-content p {
        color: var(--color-text-color-0);
        padding: 5px;
        font-size: 10px;
    }
    
    .banner-content-buttom {
        text-align: center;
        margin: 2px;
        padding: 5px;
        color: var(--color-text-color-3);
        text-decoration: none;
        background-color: var(--color-blue-color-0);
        border-radius: 5px;
    }

    .text-1-in {
        padding-left: 30px;
    }

    /* fb */

    #no-media {
        display: none;
    }

    #on-media {
        display: flex;
        justify-content: center;
    }

    .button-join {
        transform: translate3d( 0px, 50px, 0px);
        margin-left: 0px;
    }

    .title-decoration {
        font-size: 40px;
    }

    status {
        width: 89%;
        text-align: center;
    }

    #view-content {
        justify-content: none;
        flex-wrap: none;
    }

    .fb-beta-text {
        text-align: center;
    }

    .fbi-title {
        font-size: 40px;
    }

    .fb-logo {
        display: none;
    }

    .fb-logo-media {
        display: block;
    }

    .fb-beta {
        flex-flow: column;
    }

    .logo-title img {
        width: 30%;
     }

     .ub-logo img {
        width: 80%;
     }

     .fb-ub-window {
        margin: 0;
        margin-top: 30px;
     }

      /* fb beta */

    #background {
        background-image: url('https://i.ibb.co/ZW1rxB7/beta-background.webp');
        background-position: center;
        background-size: cover;
        padding: 100px;
    }
}

@media screen and (max-width: 770px) {
    #menu-media {
        display: block;
    }
    #meun-desktop-header {
        display: none;
    }

    #header-content  {
        display: flex;
    }

}

@media screen and (max-width: 879px) {
    #text-2 {
        font-size: 15px;
        padding-bottom: 15px;
    }

    #text-1 {
        font-size: 40px;
    }

    .button {
        display: flex;
        flex-flow: column;
    }

    #button-a-1, #button-a-2 {
       width: 200px;
       font-size: 15px;
       padding: 10px;
    }

    #button-a-2 {
        padding: 15px;
    }

    .logo-box-1 img  {
        width: 200px;
    }

    .logo-box-1 {
        padding: 0px;
    }

    #background-content {
        background-position: center;
    }

    .content-form-in {
        width: 90%;
    }

    .fb-ub-window-2 img {
        width: 530px;
        border-radius: 20px;
    }

    .banner-fb-img img {
        display: none;
        border-radius: 10px 10px 0px 0px;
        transition: 1s;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }

    .fb-ub-window-2 {
        display: none;
    }

    .fb-ub-window-1 img {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    #text-2 {
        font-size: 15px;
        padding-bottom: 15px;
    }

    #text-1 {
        font-size: 30px;
    }

    #button-a-1, #button-a-2 {
        width: 200px;
        font-size: 15px;
        padding: 10px;
     }
 
     #button-a-2 {
         padding: 15px;
     }

     .logo-long {
         justify-content: center;
         left: none;
         text-align: center;
     }

    .logo-long img {
        width: 200px;
    }

    footer {
        margin-top: 84px;
    }

    /* media clever  */

    .logo-box-1 {
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    
    .logo-box-1 img  {
        width: 100px;
    }

     .logo-box-1 {
        text-align: center;
        padding: 44px;
    }
    
    .logo-box-1 img  {
        width: 200px;
    }

    .index-title-2 {
        font-size: 30px;
    }

    .more-buttom {
         padding: 7px;
         font-size: 15px;

    }

    #icon-buttom-more {
        font-size: 20px;
    }

    #box-index-2-media {
        display: none;
    }

}

@media screen and (max-width: 320px) {
    .media-box-1 img {
    }

    .media-box-1-content {
        margin: 10%;
        margin-bottom: 50px;
      }

      .media-box-img-1 {
     }
    
}


@media screen and (max-width: 447px) {
    .media-box-1, .text-media-2, .text-media-4, .text-media-4  {
        line-height: 30px;
        font-size: 15px;
    }

    .media-box-1 img {
    }
}

@media screen and (max-width: 843px) {
    #box-img-media {
        position: relative;
        display: flex;
        margin-top: 600px;
        background-image: url('https://i.ibb.co/T25nrwG/696ae067a8d60043bfb63f7fe68826dc-long.png');
        background-size: cover;
        background-position: center;
        padding: 100px;
        width: 300px;
        z-index: 3;
    }
}

@media screen and (max-width: 1763px) {
    #cover-img img {
        width: 150%;
    }
}