/* Footer */

footer {
    margin-top: 700px;
    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: var(--color-footer-color-0);
}

.copyright {
    font-size: 10px;
    font-weight: bold;
    text-align: end;
    padding-top: 30px;
    color: var(--color-text-color-2);
}

#footer-content {
    display: flex;
}

.logo-long {
    margin: 30px;
    left: 20px;
    display: flex;
    flex-flow: column;
}

.logo-long img {
    width: 300px;
}

.footer-nav {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.footer-nav-a {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 5px;
    color: var(--color-evend-color);
    font-weight: bolder;
    text-decoration: none;
}

.footer-nav-a:hover {
    color: var(--color-text-color-2);
}

#footer-right {
    right: 0;
    margin: 20px;
    position: absolute;
    display: flex;
}

.footer-icon {
    padding: 10px;
}

.footer-icon img {
    width: 28px;
}

.icon-a {
    filter: invert(100%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.icon-a:hover {
    filter: invert(40%);
}

#footer-nav-bottom {
    padding: 25px;
    background-color: var(--color-footer-color-1);
    padding-left: 130px;
    padding-right: 130px;
}

.footer-nav-bottom-in {
    display: flex;
    margin-top: 0px;
    padding-top: 70px;

    animation: test 1s;
}


.footer-nav-bottom-a {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    left: 0;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    font-size: 12px;
    color: var(--color-text-color-2);
}

.footer-nav-bottom-in div {
    margin: 7px;
    flex-flow: column-reverse;
}

.footer-nav-bottom-a-media {
    left: 0;
    text-decoration: none;
    font-weight: bold;
    
    font-size: 20px;
    color: var(--color-text-color-2);
}

.footer-nav-bottom-a:hover {
    color: var(--color-blue-color-0);
}

/* content - main */

#main-desktop {
  padding-top: 200px;
  display: flex;
  justify-content: center;
}

#main-media {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    display: none;
}


#body {
    background-image: url('https://i.ibb.co/sHPQtKR/raidenpack-b.jpg');
}

.box-logo {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.box-logo img {
    width: 800px;
}



.icon-text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
    font-size: 20px;
}

.icon-text-2-a {
    background-color: var(--color-red-color-1);
    color: white;
    -webkit-transition: 1s;
    transition: 1s;
    text-decoration: none;
    padding: 10px;
    margin-top: 100px;
}


.icon-text-2-a:hover {
    background-color: var(--color-red-color);
}

.icon-text span {
    font-size: 70px;
    font-weight: bold;
} 


.logo-box-1- {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.logo-box-1- img  {
    width: 300px;
}

.content-header-bottom-medias {
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

.bottom-header-a-media- {
    /* display: flex; */
    padding: 5px;
    background-color: var(--color-red-color-1);
    max-width: 190px;
    margin: 10px;
    color: white;
    text-decoration: none;
}

